* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100vw;
  height: 100vh;
  font-family: bebasneue, poppins;
  font-size: 1.1rem;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer"; }

@font-face {
  font-family: bebasneue;
  src: url("../asset/font/BebasNeue-Regular.ttf") format("truetype"); }

@font-face {
  font-family: poppins;
  src: url("../asset/font/Poppins-Medium.ttf") format("truetype"); }

header {
  background-color: #252422;
  height: 10vh;
  grid-area: header; }
  header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    header nav div .estiloLogo {
      width: 210px; }
      @media screen and (max-width: 425px) {
        header nav div .estiloLogo {
          width: 120px; } }
    header nav .botonera ul li {
      list-style: none;
      background-color: #EB5E28;
      display: inline-flex;
      padding: 10px;
      border: 2px solid #CCC5B9;
      margin: 4px; }
      @media screen and (max-width: 425px) {
        header nav .botonera ul li {
          padding: 3px;
          border: 2px solid #CCC5B9; } }
    header nav .botonera a:link, header nav a:visited, header nav a:active {
      text-decoration: none;
      color: #FFFCF2;
      font-size: 1.2rem; }
      @media screen and (max-width: 425px) {
        header nav .botonera a:link, header nav a:visited, header nav a:active {
          font-size: 1.1rem; } }
    header nav .boton1:hover {
      transform: scale(1.1); }
    header nav .boton2:hover {
      transform: scale(1.1); }
    header nav .boton3:hover {
      transform: scale(1.1); }
    header nav .boton4:hover {
      transform: scale(1.1); }
    header nav .boton5:hover {
      transform: scale(1.1); }

main {
  height: 80vh;
  background-color: #403D39;
  grid-area: main;
  display: grid;
  grid-template-rows: 2fr 1.5fr;
  grid-template-columns: 1fr;
  grid-template-areas: "sectUno";
  justify-items: center; }
  @media screen and (max-width: 425px) {
    main {
      grid-template-rows: 1fr 1.2fr; } }
  main #sectionUno {
    text-align: center;
    grid-area: sectUno;
    font-size: 2rem; }
    main #sectionUno div .imagen1 {
      width: 960px;
      align-self: center; }
      @media screen and (max-width: 425px) {
        main #sectionUno div .imagen1 {
          width: 423px; } }
      @media screen and (max-width: 768px) {
        main #sectionUno div .imagen1 {
          max-width: 760px; } }
  main #sectionDos {
    text-align: center;
    font-size: 2rem;
    width: 800px;
    color: #EB5E28;
    font-weight: lighter; }
    @media screen and (max-width: 425px) {
      main #sectionDos {
        font-size: 1.7rem;
        width: 420px; } }
    @media screen and (max-width: 768px) {
      main #sectionDos {
        font-size: 1.6rem;
        width: 100%; } }
    main #sectionDos article div h1 {
      background-color: #252422;
      padding: 15px;
      border: 1px solid #EB5E28;
      margin: 2px; }
      @media screen and (max-width: 768px) {
        main #sectionDos article div h1 {
          text-align: center; } }
    main #sectionDos article .textOne {
      font-family: poppyns;
      font-size: 1.6rem;
      color: #FFFCF2;
      padding: 5px; }
    main #sectionDos article .textDos {
      font-family: poppyns;
      font-size: 1rem;
      color: #FFFCF2; }
    main #sectionDos article video {
      width: 700px;
      align-self: center; }
      @media screen and (max-width: 425px) {
        main #sectionDos article video {
          width: 423px;
          padding-top: 15px; } }

footer {
  height: 10vh;
  grid-area: footer;
  background-color: #252422;
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer div h3 {
    color: #FFFCF2;
    font-weight: lighter;
    font-size: 1.7rem; }
  footer .botoneraFoot {
    display: flex;
    flex-direction: row;
    justify-content: center; }
