* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
      }