    @font-face {
      font-family: SofiaBold;
      src: url("../asset/font/SofiaSansCondensed-BoldItalic.ttf");
    }
    @font-face {
      font-family: SofiaRegular;
      src: url("../asset/font/SofiaSansCondensed-Regular.ttf");
    }