    @font-face {
      font-family: bebasneue;
      src: url('../asset/font/BebasNeue-Regular.ttf') format('truetype');
    }
    @font-face {
      font-family: poppins;
      src: url('../asset/font/Poppins-Medium.ttf') format('truetype');
    }