footer {
    width: 100%;
    grid-area: footer;
    background-color: $negro;
    .grupoFoot {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;                
        .botoneraFoot {
            h3 {
                color: $beige;
                font-size: 2rem;
                text-align: center;
                font-family: SofiaRegular;
                font-weight: 100;
            
            }
            .ico {
                width: 35px;
                margin: 0px 30px; 
                @include mobile320 {
                 width: 30px;
                 margin:0px 20px;
             }
            }
             
            p {
                color: $beige;
                text-align: center;
                margin: 5px 0px;
            }
        }
    }
}