header {
    background-color: $negro;
    height: 10vh; 
    grid-area: header;
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        div {
            .estiloLogo {
                width: 210px;

                @include mobile {
                  width: 120px;
                }
            }
        }
        .botonera {
            ul {
                li {
                    list-style: none;
                    background-color: $naranja;
                    display: inline-flex;
                    padding: 10px;
                    border: 2px solid $crema;
                    margin: 4px;

                    @include mobile {
                      padding: 3px;
                      border: 2px solid $crema;
                    }
                }
            }
        }
        .botonera a:link, a:visited, a:active {
            text-decoration: none;
           color: $beige;
           font-size: 1.2rem;

           @include mobile {
            font-size: 1.1rem;
           }
        }
        .boton1:hover {
            transform: scale(1.1);
          }
          .boton2:hover {
            transform: scale(1.1);
          }
          .boton3:hover {
            transform: scale(1.1);
          }
          .boton4:hover {
            transform: scale(1.1);
          }
          .boton5:hover {
            transform: scale(1.1);
          }          
    }
}