header {
    background-color: $negro;
    position: sticky;
    top: 0;
    grid-area: header;
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        div {
            .estiloLogo {
                width: 210px;

                @include mobile {
                  width: 120px;
                }
            }
        }
        .botonera {
          .navLabel {
            display: none;
            
            @include mobile {
              display: block;
              cursor: pointer;
            }
            .navImg {
              width: 39px;
            }
          }
            .navInput {
            display: none;
          }
          .navInput:checked + .navMenu{
            @include mobile {
              clip-path: circle(100% at center);
            }
          }
            .navMenu {
              @include mobile {
                position: fixed;
                top: 60px;
                bottom: 0;
                background-color: $negro;
                width: 100%;
                left: 0;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: center;
                clip-path: circle(0 at center);
                transition: clip-path 1s ease-in-out;
              }
                li {
                    list-style: none;
                    background-color: $naranja;
                    display: inline-flex;
                    font-size: 1.3rem;
                    font-weight: 500;
                    padding: 13px;
                    margin: 5px;
                    font-family: SofiaRegular;
                    border-radius: .5rem;

                    @include mobile {
                      padding: 13px 14px;
                    }
                }
            }
        }
        .botonera a:link, a:visited, a:active {
           text-decoration: none;
           color: $beige;
           font-size: 1.3rem;
           font-weight: 500;

           @include mobile {
            font-size: 1.1rem;
           }
        }
        .boton1:hover {
            transform: scale(1.1);
            transition: 0.3s;
          }
          .boton2:hover {
            transform: scale(1.1);
            transition: 0.3s;
          }
          .boton3:hover {
            transform: scale(1.1);
            transition: 0.3s;
          }
          .boton4:hover {
            transform: scale(1.1);
            transition: 0.3s;
          }
          .boton5:hover {
            transform: scale(1.1);
            transition: 0.3s;
          }          
    }
}