main {
      height: 80vh;
      background-color: #403D39;
      grid-area: main;
      display: grid;
      grid-template-rows: 2fr 1.5fr;
      grid-template-columns: 1fr;
      grid-template-areas: "sectUno";
      justify-items: center;

      @include mobile {
        grid-template-rows: 1fr 1.2fr;
      }
    #sectionUno {
        text-align: center;
        grid-area: sectUno;
        font-size: 2rem;
        div {
            .imagen1 {
                @include sizes (960px, center);
                @include mobile {
                    width: 423px;
                }
                @include tablet {
                    max-width: 760px;
                }
            }
        }
    }
    #sectionDos {
        text-align: center;
        font-size: 2rem;
        width: 800px;
        color: $naranja; 
        font-weight: lighter;

        @include mobile {
            font-size: 1.7rem;
            width: 420px;
        }
        @include tablet {
            font-size: 1.6rem;
            width: 100%;
        }
        article {
            div {
                h1 {
                    background-color: $negro;
                    padding: 15px;
                    border: 1px solid $naranja;
                    margin: 2px;

                    @include tablet {
                        text-align: center;
                    }
                }
            }
            .textOne {
                font-family: poppyns;
                font-size: 1.6rem;
                color: $beige;
                padding: 5px;
            }
            .textDos {
                font-family: poppyns;
                font-size: 1rem;
                color: $beige;
                
            }
            video {
                @include sizes (700px, center);
                @include mobile {
                    width: 423px;
                    padding-top: 15px;
                }
            }
        }
    }
}